
.fixed-screen {
  position: fixed;
  width: 50%;

}

.nav-text{
color: '#01e2c7';
}

@media screen and (max-width: 768px) {
  .fixed-screen {
    position: relative;
    width:100%
  }
}


.custom-bullets li::before {
content: '•';
color: white; 
display: inline-block;
width: 1em; 
margin-left: -1em; 
}


.font-medium.text-slate-200 {
  font-weight: 500;
  color: #d1d5db; /* Adjust color code based on your theme */
}

.font-bold.text-teal-300 {
  font-weight: 700;
  color: #2dd4bf; /* Adjust color code based on your theme */
}

